@model Infraestructure.Models.inventario

@{
    ViewBag.Title = "Details";
}

<h2>Listado de inventario</h2>

<div>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.usuario.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.apellidos)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.TipoMovimiento.tipoEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMovimiento.tipoEntrada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoMovimiento.tipoSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMovimiento.tipoSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPagado)
        </dt>

        <dd>
            &#8353;@Html.DisplayFor(model => model.totalPagado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iva)
        </dt>

        <dd>
            %@Html.DisplayFor(model => model.iva)
        </dd>



    </dl>
</div>
