@model IEnumerable<Infraestructure.Models.inventario>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de inventarios</h2>


<div class="col-lg-9">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-sm-3">
                <div class="card" style="width: 12rem;">

                    <div class="card-body">
                        <h6 class="card-text"> Tipo de entrada: @Html.DisplayFor(modelItem => item.TipoMovimiento.tipoEntrada)</h6>
                        <h6 class="card-text"> Tipo de salida: @Html.DisplayFor(modelItem => item.TipoMovimiento.tipoSalida)</h6>

                        <h6 class="card-text"> @Html.DisplayNameFor(model => model.fecha): @Html.DisplayFor(modelItem => item.fecha)</h6>
                        <br />
                        <h6 class="card-text"> @Html.DisplayNameFor(model => model.totalPagado): &#8353;@Html.DisplayFor(modelItem => item.totalPagado)</h6>
                        @Html.ActionLink("Detallar proveedor", "Details", new { id = item.id })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
