@model Infraestructure.Models.proveedor

@{
    ViewBag.Title = "Detalle de proveedor";
}

<h2>Detalles del proveedor</h2>

<div>
    <h4>proveedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais.nombre)
        </dd>

        <hr />
        <b>Contactos del proveedor</b>
        @foreach (var pro in Model.contactos)
        {
            <li>
                <b>
                    @Html.DisplayNameFor(model => pro.nombre):
                </b>
                @Html.DisplayFor(model => pro.nombre)

                <br />
                <b>
                    @Html.DisplayNameFor(model => pro.numero):
                </b>
                @Html.DisplayFor(model => pro.numero)

                <br />
            </li>
        }

        <hr />
        <b>Productos entregador por este proveedor</b>
        @foreach (var pro in Model.producto)
        {
            <li>
                <b>@Html.DisplayNameFor(model => pro.nombre):</b>
                @Html.DisplayFor(model => pro.nombre)
                <br />
                <b>@Html.DisplayNameFor(model => pro.totalStock):</b>
                @Html.DisplayFor(model => pro.totalStock)
                <br />
            </li>
        }

    </dl>
</div>

