@model Infraestructure.Models.proveedor

@{
    ViewBag.Title = "Más detalles";
}

<div class="titulo">
    <h2>Detalle del proveedor</h2>
    <hr />
</div>

<div class="detalle" style="margin-left:8%">
    <div class="row">
        <div class="col">
            <strong>@Html.DisplayNameFor(model => model.nombreEmpresa)</strong>
            <br />
            @Html.DisplayFor(model => model.nombreEmpresa)
            <br /><br />

            <strong>@Html.DisplayNameFor(model => model.direccion)</strong>
            <br />
            @Html.DisplayFor(model => model.direccion)
            <br /><br />

            <strong>@Html.DisplayNameFor(model => model.pais.nombre)</strong>
            <br />
            @Html.DisplayFor(model => model.pais.nombre)
            <br /><br />
        </div>

        <div class="col">
            <strong>Contactos</strong>
            <br /><br />

            @foreach (var pro in Model.contactos)
            {
                <b>
                    <li type="circle">@Html.DisplayNameFor(model => pro.nombre):</li>
                </b>

                @Html.DisplayFor(model => pro.nombre)
                <br />

                <b>
                    @Html.DisplayNameFor(model => pro.numero):
                </b>
                <br />
                @Html.DisplayFor(model => pro.numero)
                <br /><br />
            }
        </div>

        <div class="col">
            <strong>Productos entregados</strong>
            <br /><br />

            @foreach (var pro in Model.producto)
            {
                <b>@Html.DisplayNameFor(model => pro.nombre):</b>
                <br />
                @Html.DisplayFor(model => pro.nombre)
                <br />

                <b>@Html.DisplayNameFor(model => pro.totalStock):</b>
                <br />
                @Html.DisplayFor(model => pro.totalStock)
                <br /><br />
            }
        </div>
    </div>
</div>