@model IEnumerable<Infraestructure.Models.proveedor>

@{
    ViewBag.Title = "Lista de proveedores";
}

<div class="titulo">
    <h2> <strong>Lista de proveedores</strong> </h2>
</div>

<div class="row" style="margin-top:5%">
    <div class="col" style="margin-right:30%">
        <button type="button" class="btn btn-success">
            @Html.ActionLink("Agregar proveedor", "AgregarProveedor", "Proveedor", new { style = "text-decoration:none", @class = "btn-success" })
        </button>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-idProveedor="cambiarAIdProveedor">Contactos</button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Contactos</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <table class="table table-hover">
                                <thead class="table-success">
                                    <tr>
                                        <th scope="col">Empresa</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">N&#250;mero</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var pro in Model)
                                    {
                                        if (pro.contactos != null)
                                        {
                                            foreach (var prov in pro.contactos)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(model => prov.proveedor.nombreEmpresa)</td>
                                                    <td>@Html.DisplayFor(model => prov.nombre)</td>
                                                    <td>@Html.DisplayFor(model => prov.numero)</td>
                                                    <td>@Html.DisplayFor(model => prov.correo)</td>
                                                    <td>
                                                        <button type="button" class="btn btn-outline-success">
                                                            @Html.ActionLink("Editar", "EditarContacto", "Contacto", new { id = prov.id }, new { style = "text-decoration:none", @class = "btn-outline-success" })
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>No contiene contactos</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">
                                @Html.ActionLink("Agregar", "Index", "Contacto", null, new { style = "text-decoration:none", @class = "btn-primary" })
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        @using (Ajax.BeginForm("buscarProveedorxNombre", "Proveedor", new AjaxOptions
        {
            UpdateTargetId = "resultado",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            LoadingElementId = "ajaxLoader"
        }))
        {
            <div class="input-group">
                @Html.TextBox("filtro", "", new { @class = "form-control", @placeholder = "Buscar proveedor..." })
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>
        }

    </div>
</div>

@* Modal *@
<input type="hidden" id="campoOculto" />
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Detalle proveedor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover" style="margin-top:2%; margin-bottom:4%">
    <thead class="table-success">
        <tr>
            <th scope="col">Nombre de la empresa</th>
            <th scope="col">Direcci&#243;n</th>
            <th scope="col">Pa&#237;s</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody id="resultado">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.nombreEmpresa)</td>
                <td >@Html.DisplayFor(modelItem => item.direccion)</td>
                <td >@Html.DisplayFor(modelItem => item.pais.nombre)</td>

                <th scope="col" style="align-items: center">
                    <button type="button" class="btn btn-outline-success" style="margin-right:2%;">
                        @Html.ActionLink("Detalle", "DetalleProveedor", "Proveedor", new { id = item.id }, new { style = "text-decoration:none", @class = "btn-outline-success" })
                    </button>
                    <button type="button" class="btn btn-outline-success" style="margin-right:2%;">
                        @Html.ActionLink("Editar", "EditarProveedor", "Proveedor", new { id = item.id }, new { style = "text-decoration:none", @class = "btn-outline-success" })
                    </button>
                </th>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    <script type="text/javascript">
    function mostrarModal(id) {
        $("#campoOculto").val(id);
        //$("#myModal").attr('data-toggle', 'modal');
        $('#myModal').modal('show');
    }
    $(function () {
        var lista = @Html.Raw(Json.Encode(ViewBag.listaNombres));
        $("#filtro").autocomplete({
            source: lista
        });
    });
    </script>
}