@model Infraestructure.Models.producto

@{
    ViewBag.Title = "Editar producto";
}

@using (Html.BeginForm("Save", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="titulo">
        <h2>Editar el producto</h2>
        <hr />
    </div>

    <div class="mantenimiento">

        <div class="form-group" style="margin-left:30%; margin-right:30%; margin-top:2%">
            @Html.HiddenFor(model => model.id)
            <p>
                Nombre:
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </p>

            <p>
                Descripci&#243;n:
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </p>

            <p>
                Categor&#237;a:
                @Html.DropDownList("categoria",
                    (SelectList)ViewBag.idCategoria,
                    null,
                    new { htmlAttributes = new { @class = "form-control" } })
            </p>

            <p>
                Costo unitario:
                @Html.EditorFor(model => model.costoUnitario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.costoUnitario, "", new { @class = "text-danger" })
            </p>

            <p>
                Ubicaci&#243;n:
                @Html.DropDownList("estante",
                (SelectList)ViewBag.idEstantes,
                null,
                new { htmlAttributes = new { @class = "form-control" } })
            </p>

            <p>
                Total de existencia:
                @Html.EditorFor(model => model.totalStock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.totalStock, "", new { @class = "text-danger" })
            </p>
            <p>
                Cantidad máxima:
                @Html.EditorFor(model => model.cantMaxima, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cantMaxima, "", new { @class = "text-danger" })
            </p>

            <p>
                Cantidad mínima:
                @Html.EditorFor(model => model.cantMinima, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cantMinima, "", new { @class = "text-danger" })
            </p>

            <p>
                Proveedor del producto:
                @Html.DropDownList("proveedor",
                (SelectList)ViewBag.idProveedores,
                null,
                new { htmlAttributes = new { @class = "form-control" } })
            </p>

            <p>
                Imagen:
                <input class="form-control" type="file" id="formFile" name="ImageFile">
                @Html.HiddenFor(model => model.imagen)
                @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })
            </p>

            <div class="boton" style="margin-left:30%">
                <button type="submit" class="btn btn-success">Modificar</button>
                <button type="button" class="btn btn-success">Cancelar</button>
            </div>
        </div>
    </div>
}