@model IEnumerable<Infraestructure.Models.producto>

@{
    ViewBag.Title = "Lista de Productos";
}

<div class="titulo">
    <h2> <strong>Lista de productos</strong> </h2>
</div>

<div class="row" style="display:flex; flex-direction: row; align-items: center">
    <div class="col" style="margin-right:30%">
        <button type="button" class="btn btn-success">
            @Html.ActionLink("Agregar Producto", "AgregarProducto", "Producto", new { style = "text-decoration:none", @class = "btn-success" })
        </button>
    </div>
    <div class="col">
        <div class="row">
            <input class="form-control me-2" type="search" placeholder="Buscar proveedor..." aria-label="Buscar proveedor....">
        </div>
    </div>
    <div class="col-1">
        <div class="row">
            <button class="btn btn-outline-success" type="button">Buscar</button>
        </div>
    </div>
</div>

<table class="table table-hover" style="margin-top:2%; margin-bottom:4%">
    <thead class="table-success">
        <tr>
            <th scope="col">Nombre</th>
            <th style="text-align:center" scope="col">Categor&#237;a</th>
            <th style="text-align:center" scope="col">Costo Unitario</th>
            <th style="text-align:center" scope="col" >Total de existencia</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => item.TipoCategoria.Descripcion)</td>
                <td style="text-align:center">&#8353;@Html.DisplayFor(modelItem => item.costoUnitario)</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => item.totalStock)</td>
                <th scope="col">
                    <button type="button" class="btn btn-outline-success">
                        @Html.ActionLink("Detalle", "DetalleProducto", "Producto", new { id = item.id }, new { style = "text-decoration:none", @class = "btn-outline-success" })
                    </button>
                    <button type="button" class="btn btn-outline-success">
                        @Html.ActionLink("Editar", "EditarProducto", "Producto", new { id = item.id }, new { style = "text-decoration:none", @class = "btn-outline-success" })
                    </button>
                    <button type="button" class="btn btn-outline-success">
                        @Html.ActionLink("Eliminar", "DetalleProducto", "Producto", new { id = item.id }, new { style = "text-decoration:none", @class = "btn-outline-success" })
                    </button>
                </th>
            </tr>
        }
    </tbody>
</table>

