@model IEnumerable<Infraestructure.Models.producto>

@{
    ViewBag.Title = "Menú Administrador";
}

<div class="titulo">
    <h2>Últimas noticias</h2>
</div>

<div class="row" style="margin-top:3%;">
    <div class="col-md-4">
        <div class="card border-success mb-3" style="height:92%">
            <div class="card-header" style="text-align:center"><strong>Cantidad total de productos</strong></div>
            <div class="card-body">
                <p class="card-text">
                    @* Fecha de actual, forma larga *@
                    @{
                        var date = DateTime.Now.ToLongDateString();
                    }

                    Fecha: @date
                </p>
                <p class="card-text">Se han registrado @ViewBag.countProducto productos </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-success mb-3">
            <div class="card-header" style="text-align:center"><strong>Cantidad de entradas registradas</strong></div>
            <div class="card-body">
                <p class="card-text">Fecha: @date</p>
                <p class="card-text">Se han registrado @ViewBag.countEntrada entradas </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-success mb-3">
            <div class="card-header" style="text-align:center"><strong>Cantidad de salidas</strong></div>
            <div class="card-body">
                <p class="card-text">Fecha: @date</p>
                <p class="card-text">Se han registrado @ViewBag.countSalida salidas </p>
            </div>
        </div>
    </div>

</div>

<table class="table table-hover" style="margin-top:2%; margin-bottom:4%">
    <thead class="table-success">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categor&#237;a</th>
            <th scope="col">Cantidad minima</th>
            <th scope="col">Costo Unitario</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.TipoCategoria.Descripcion)</td>
            <td>@Html.DisplayFor(modelItem => item.cantMinima)</td>
            <td>&#8353;@Html.DisplayFor(modelItem => item.costoUnitario)</td>
            <th scope="col">
                <button type="button" class="btn btn-success">
                    @Html.ActionLink("Ver detalle", "DetalleProducto", "Producto", new { id = item.id }, new { style = "text-decoration:none", @class = "btn-success" })
                </button>
            </th>
        </tr>
        }
    </tbody>
</table>