@model Infraestructure.Models.usuario

@{
    ViewBag.Title = "EditarUsuario";
}

@using (Html.BeginForm("edit", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="titulo">
        <h2> <strong>Editar usuario @Html.DisplayFor(model => model.nombre) </strong> </h2>
        <hr />
    </div>

    <div class="form-group" style="margin-left:30%; margin-right:30%; margin-top:2%">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <p>
            Tipo de usuario:
            @Html.DropDownList("permiso",
            (SelectList)ViewBag.idTipoUsuario,
            new { htmlAttributes = new { @class = "form-control" } })
        </p>

        <p>
            Activo de usuario:
            @Html.DropDownList("estado",
            (SelectList)ViewBag.esActivo,
            new { htmlAttributes = new { @class = "form-control" } })

            @Html.ValidationMessageFor(model => model.esActivo, "", new { @class = "text-danger" })
        </p>

        <p>
            Nombre:
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </p>

        <p>
            Apellidos:
            @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
        </p>

        <p>
            Correo electrónico:
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </p>

        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.nombre)
        @Html.HiddenFor(model => model.apellidos)
        @Html.HiddenFor(model => model.email)
        @Html.HiddenFor(model => model.clave)

        <button type="submit" value="Save" style="text-decoration:none; margin-left:30%" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-success">
            @Html.ActionLink("Cancelar", "listaUsuario", "Usuario", new { style = "text-decoration:none", @class = "btn-success" })
        </button>
    </div>
}