@model Infraestructure.Models.usuario

@{
    ViewBag.Title = "Nuevo usuario";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="titulo">
        <h2><strong>Crear nuevo usuario</strong></h2>
        <hr />
    </div>

    <div class="form-group" style="margin-left:30%; margin-right:30%; margin-top:2%">

        @{
            Infraestructure.Models.usuario user = (Infraestructure.Models.usuario)Session["Usuario"];
            if (user != null && user.idTipoUsuario == 1)
            {
                <p>
                    Tipo de usuario:
                    @Html.DropDownList("permiso",
        (SelectList)ViewBag.idTipoUsuario,
        new { htmlAttributes = new { @class = "form-control" } })
                </p>
            }
        }

        <p>
            Nombre:
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </p>

        <p>
            Apellidos:
            @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
        </p>

        <p>
            Correo electrónico:
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </p>

        <p>
            Contraseña:
            @Html.PasswordFor(model => model.clave, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
        </p>

        <div class="boton" style="margin-left:35%; margin-top:5%;">
            <button type="submit" class="btn btn-success">Crear</button>
            <button type="button" class="btn btn-success">
                @Html.ActionLink("Cancelar", "Index", "Home", new { style = "text-decoration:none", @class = "btn-success" })
            </button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
