<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Selly</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/testStyles.css")

    <!-- CSS -->
    <link href="~/Content/css/layout.css" rel="stylesheet">

    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
    <div class="barra">
        @{
            string nombre = "";
            string email = "Perfil";

            Infraestructure.Models.usuario usua;
            if (Session["Usuario"] != null)
            {
                usua = (Infraestructure.Models.usuario)Session["Usuario"];
                if (usua != null)
                {
                    nombre = $"{usua.nombre} {usua.apellidos}";
                    email = usua.email;
                }
            }
        }
        <i class=" barra-texto"><strong>Usuario: @email</strong></i>
    </div>

    <div class="encabezado">
        <img class="imagen_Logo"
             src="~/Imagenes/Logo.PNG"
             alt="No se encuentra la imagen" />
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarColor01">

                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        @Html.ActionLink(" ", "MenuAdministrador", "Home", null, new { style = "color:white", @class = "bi bi-house h1" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Menú", "Index", "Home", null, new { @class = "nav-link active" })
                        <span class="visually-hidden">(current)</span>
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Catálogo", "listaProductos", "Producto", null, new { @class = "nav-link active" })
                    </li>

                    @{
                        if (Session["Usuario"] != null)
                        {
                            <div>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       data-bs-toggle="dropdown"
                                       href="#"
                                       role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        Administración
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="Administraci&#243;n">

                                        <a class="dropdown-item" href="#"><strong>Mantenimiento</strong></a>
                                        <div class="dropdown-divider"></div>
                                        @Html.ActionLink("Producto", "Index", "Producto", null, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Proveedor", "Index", "Proveedor", null, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Entrada/Salida", "Index", "Inventario", null, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Usuario", "habilitarUsuario", "Usuario", null, new { @class = "dropdown-item" })


                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><strong>Reporte</strong></a>

                                        <div class="dropdown-divider"></div>
                                        @Html.ActionLink("Producto", "ReporteProducto", "Producto", null, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Proveedores", "ReporteProveedores", "Proveedor", null, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Entrada/Salida", "ReporteEntradaSalida", "Inventario", null, new { @class = "dropdown-item" })
                                    </div>
                            </div>

                            <li class="nav-item" id="cantidadproducto">
                                @Html.Partial("_cantidadCarrito")
                            </li>
                        }
                    }
                    </li>
                </ul>

                <form class="d-flex">
                    <button type="button" class="btn btn-secondary">
                        @{
                            if (Session["Usuario"] == null)
                            {
                                @Html.ActionLink("Iniciar Sesión", "Index", "Usuario", null, new { @class = "nav-link" })
                            }
                            else
                            {
                                @Html.ActionLink("Cerrar sesion", "cerrarSesion", "Usuario", null, new { @class = "nav-link" })

                            }
                        }
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <footer>
            <div class="footer">
                <div class="footer-contenido row">
                    <div class="col-sm-4" style="margin-right: 100px; margin-left: 150px; margin-top:2%">
                        <strong> <p>Información</p> </strong>
                        <p>Universidad Técnica Nacional</p>
                        <p>Curso: Programación en ambiente web II</p>
                        <p>Adriana Lee Pan - 117980953</p>
                        <p>Esteban Rivera Porras - 117880929</p>
                        <p>&copy; Copyright 2021, todos los derechos reservados.</p>
                    </div>

                    <div class="col-sm-4" style="margin-top:2%">
                        <strong> <p>Contáctenos</p> </strong>
                        <p>Nosotros somos <strong>Selly</strong></p>
                        <p>Llamanos al: 88412525</p>
                        <p>Envianos un correo al: preparea@gmail.com</p>
                        <p>
                            Estamos ubicados en: 250 mts al nrte de la POP'S del Parque Central, Alajuela.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @RenderSection("footer", false)


    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/sweetalert")
    <script src="~/Scripts/bootstrap.js"></script>
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)


    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(@ViewBag.NotificationMessage);
        </script>
    }
</body>
</html>
