@model Infraestructure.Models.inventario

@{
    ViewBag.Title = "Agregar inventario";
}

@using (Html.BeginForm("Save", "Inventario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="titulo">
        <h2>Agregar inventario</h2>
        <hr />
    </div>

    <div class="inventario">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="row" style="text-align: center">
                <div class="col">
                    <p class="text-success">
                        <strong>
                            @* Tienda *@
                            @Html.DisplayNameFor(model => model.tienda) Selly
                        </strong>
                    </p>
                </div>

                <div class="col">
                    <p class="text-success">
                        <strong>
                            @* Usuario *@

                            @{
                                string usuario = "";
                                Infraestructure.Models.usuario usua;
                                if (Session["Usuario"] != null)
                                {
                                    usua = (Infraestructure.Models.usuario)Session["Usuario"];
                                    if (usua != null)
                                    {
                                        usuario = $"{usua.nombre} {usua.apellidos}";
                                    }
                                }
                            }

                            @Html.DisplayNameFor(model => model.idUsuario) @usuario
                        </strong>
                    </p>
                </div>

                <div class="col">
                    <p class="text-success">
                        <strong>
                            @* Fecha de ingreso *@
                            @{
                                var date = DateTime.Now.ToShortDateString();
                            }

                            @Html.DisplayNameFor(model => model.fecha) @date
                        </strong>
                    </p>
                </div>
            </div>

            <div class="card border-primary mb-3" style="max-width: 70rem; margin-left:7%;">
                <div class="card-body">
                    <div class="row" style="margin-left:10%">
                        <div class="col">
                            @* Tipo de movimiento *@
                            @Html.DisplayNameFor(model => model.TipoMovimiento)
                            <br />
                            <input type="button" onclick="appearEntrada()" value="Entrada" class="btn btn-success" />
                            <input type="button" onclick="appearSalida()" value="Salida" class="btn btn-success" />
                            <br />

                            <p>
                                Tienda donde se esta realizando el cobro:
                                <br />
                                @Html.DropDownList("tienda",
                                                     (SelectList)ViewBag.idTienda,
                                                     null,
                                                     new { htmlAttributes = new { @class = "form-control" } })
                            </p>
                        </div>

                        <div class="col">
                            <span id="searchResults" />
                        </div>

                        <div class="col">
                            <p>
                                @* Proveedor *@
                                Proveedor:
                                <br />
                                @Html.DropDownList("proveedor",
                                         (SelectList)ViewBag.idProveedores,
                                         null,
                                         new { htmlAttributes = new { @class = "form-control" } })
                            </p>
                            <br />

                            <p>
                                Estante:
                                <br />
                                @Html.DropDownList("estante",
                                                     (SelectList)ViewBag.idEstante,
                                                     null,
                                                     new { htmlAttributes = new { @class = "form-control" } })
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-left:1%; margin-right:1%; margin-top:3%">
                <div class="col-9">
                    <div id="resultadoDetalle">
                        @if (Web.ViewModel.Carrito.Instancia.Items.Count() > 0)
                        {
                            @Html.Partial("~/Views/Inventario/_ListadoInventario.cshtml", (List<Web.ViewModel.ViewModelInventarioDetalle>)ViewBag.DetalleCarrito)


                        }
                        else
                        {
                            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-left:7%; margin-right:6.5%">
                                No hay productos en el carrito
                            </div>
                        }
                    </div>
                </div>

                <div class="col">
                    <div class="comentario">
                        <p>
                            Comentario:
                            <div class="form-group">
                                @Html.TextAreaFor(modelItem => Model.comentario, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => Model.comentario, "", new { @class = "text-danger" })
                            </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="boton" style="margin-left:43%">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-success">Cancelar</button>
            </div>
        </div>
    </div>
                                } 
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")

    <script type="text/javascript">


        function updateCantidad(ctr) {
            var txtCantidad = $(ctr);
            var cantidad = txtCantidad.val();
            var id = txtCantidad.data("libroid");
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Inventario/actualizarCantidad",
                data: { "idproducto": id, "cantidad": cantidad },
                success: function (data) {
                    $("#resultadoDetalle").html('');
                    $("#resultadoDetalle").html(data);
                    updateCantProduct();
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
        }


        function updateCantProduct() {
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Inventario/actualizarOrdenCantidad",
                success: function (data) {
                    $("#cantidadproducto").html('');
                    $("#cantidadproducto").html(data);
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
        }

        function appearEntrada() {
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Inventario/appearEntrada",
                success: function (data) {
                    $("#searchResults").html('');
                    $("#searchResults").html(data);
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
        }

        function appearSalida() {
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Inventario/AppearSalida",
                success: function (data) {
                    $("#searchResults").html('');
                    $("#searchResults").html(data);
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
        }

        //bloquea la tecla enter de ser usada
        $(document).keypress(function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
            }
        });

    </script>
}
