@model IEnumerable<Infraestructure.Models.inventario>

@{
    ViewBag.Title = "Mantenimiento de inventario";
}

<div class="titulo">
    <h2> <strong>Inventario</strong> </h2>
</div>

<div class="row" style="display:flex; flex-direction: row; align-items: center">
    <div class="col" style="margin-right:30%">
        <button type="button" class="btn btn-success">
            @Html.ActionLink("Agregar inventario", "AgregarInventario", "Inventario", new { style = "text-decoration:none", @class = "btn-success" })
        </button>
    </div>

    <div class="col-md-6">
        <div class="card my-6">
            <h5 class="card-header">Buscar inventario por fecha</h5>
            @using (Ajax.BeginForm("buscarInventarioxFecha", "Inventario", new AjaxOptions
            {
                UpdateTargetId = "resultado",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                LoadingElementId = "ajaxLoader"
            }))
            {
                <div class="card-body">
                    <div class="input-group">
                        @*@Html.TextBox("filtro", "", new { @class = "form-control", @placeholder = "Buscar proveedor" })*@
                        <p>Fecha inicial</p>
                        <input type="date" name="fechaInicio" />
                        <br>
                        <p>Fecha final</p>
                        <input type="date" name="fechaFinal" />
                        <br>
                        <button type="submit" class="btn btn-default">Buscar</button>

                    </div>
                </div>
            }

        </div>
    </div>
</div>


<table class="table table-hover" style="margin-top:2%; margin-bottom:4%">
    <thead class="table-success">
        <tr>
            <th scope="col">Tipo de entrada</th>
            <th scope="col">Tipo de salida</th>
            <th scope="col">Fecha de emisión</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody id="resultado">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TipoMovimiento.tipoEntrada)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoMovimiento.tipoSalida)</td>
                <td>@Html.DisplayFor(modelItem => item.fecha)</td>
                <td>&#8353;@Html.DisplayFor(modelItem => item.totalPagado)</td>
                <th scope="col">
                    <button type="button" class="btn btn-outline-success">
                        @Html.ActionLink("Detalle", "DetalleInventario", "Inventario", new { id = item.id }, new { style = "text-decoration:none", @class = "btn-outline-success" })
                    </button>
                </th>
            </tr>
        }
    </tbody>
</table>

@* Modal *@
<input type="hidden" id="campoOculto" />
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Detalle proveedor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@* Modal *@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
<script type="text/javascript">
    function mostrarModal(id) {
        $("#campoOculto").val(id);
        //$("#myModal").attr('data-toggle', 'modal');
        $('#myModal').modal('show');
    }

</script>
}