@model Infraestructure.Models.producto

@{
    ViewBag.Title = "detalleEstecifico";
}

<h2>Detalles del producto</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantMaxima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantMaxima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantMinima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantMinima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costoUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCategoria.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCategoria.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.proveedor)
        </dt>

        <p>Listado de proveedores del producto</p>
        @foreach (var pro in Model.proveedor)
        {
            <li>@pro.nombreEmpresa</li>
        }

        <hr />
        <dt>
            Estante donde esta el producto
        </dt>
            @foreach (var pro in Model.productoEstante)
            {
                @Html.DisplayFor(model => pro.estante.nombre)
            }


    </dl>
</div>

