<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Selly</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/testStyles.css")

    <!-- CSS -->
    <link href="~/Content/css/layout.css" rel="stylesheet">

    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>

    <div class="barra">
        <i class=" barra-texto"><strong>Usuario: Administrador</strong></i>
    </div>

    <div class="encabezado">
        <img class="imagen_Logo"
             src="~/Imagenes/Logo.PNG"
             alt="No se encuentra la imagen" />
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarColor01">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Listado y detalle de productos", "detallesProductos", "Producto", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Listado y detalle de proveedores", "Index", "Proveedor", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Listado de entradas y salidas de inventario", "Index", "Inventario", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Menu
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                           Catalogo
                        </a>

                        <div class="dropdown-menu" aria-labelledby="Catalogo">
                            <a class="dropdown-item" href="#">Artículos del hogar</a>
                            <a class="dropdown-item" href="#">Tecnología</a>
                            <a class="dropdown-item" href="#">Juguetes</a>
                            <a class="dropdown-item" href="#">Moda</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                           Cuenta
                        </a>

                        <div class="dropdown-menu" aria-labelledby="Cuenta">
                            <a class="dropdown-item" href="#">Lista de compras</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" 
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button" 
                           aria-haspopup="true" 
                           aria-expanded="false">
                            Administración
                        </a>

                        <div class="dropdown-menu" aria-labelledby="Administración">
                            <a class="dropdown-item" href="#">Gestion de usuarios</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Mantenimiento</a>
                            <a class="dropdown-item" href="#">Lista de Usuarios</a>

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="#">Gestion de productos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Mantenimiento</a>
                            <a class="dropdown-item" href="#">Compra/Inventario</a>
                            <a class="dropdown-item" href="#">Venta/Factura</a>

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="#">Gestion de proveedores</a>
                            <div class="dropdown-divider"></div>
                            a class="dropdown-item" href="#">Mantenimiento</a>
                            <a class="dropdown-item" href="#">Contáctos</a>
                            <a class="dropdown-item" href="#">Informe</a>

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="#">Reporte</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Entrada</a>
                            <a class="dropdown-item" href="#">Salida</a>
                            <a class="dropdown-item" href="#">Producto</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <button type="button" class="btn btn-secondary">
                        @Html.ActionLink("Registro", "escritura", "Usuario", null, new { @class = "nav-link" })
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <footer>
            <div class="footer">
                <div class="footer-contenido row">
                    <div class="col-sm-4" style="margin-right: 100px; margin-left: 150px; margin-top:2%" >
                        <strong> <p>Información</p> </strong>
                        <p>Universidad Técnica Nacional</p>
                        <p>Curso: Programación en ambiente web II</p>
                        <p>Adriana Lee Pan - 117980953</p>
                        <p>Esteban Rivera Porras - 117880929</p>
                        <p>&copy; Copyright 2021, todos los derechos reservados.</p>
                    </div>

                    <div class="col-sm-4" style="margin-top:2%">
                        <strong> <p>Contáctenos</p> </strong>
                        <p>Nosotros somos <strong>Selly</strong></p>
                        <p>Llamanos al: 88412525</p>
                        <p>Envianos un correo al: preparea@gmail.com</p>
                        <p>
                            Estamos ubicados en: 250 mts al norte de la POP'S del Parque Central, Alajuela.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
